---
import Background from "../components/Background";
import JumpIn from "../components/JumpIn";
import Content from "../components/Content";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import fetchCache from "../utils/fetchCache";
import Footer from "../components/Footer";

export const { schedule, teams, news } = fetchCache();
---

<Layout title="Astronaut Esports">
  <Header />
  <div
    class="fixed top-0 w-full flex items-center justify-center h-screen bg-black"
  >
    <Background client:load />
    <JumpIn client:load />
  </div>
  <div class="relative w-full h-screen pointer-events-none //mb-10"></div>
  <div
    id="content"
    class="relative cut-corners bg-white z-10 //overflow-hidden max-sm:p-8 p-16 flex flex-col gap-16 max-sm:gap-8 w-full"
  >
    <!-- <div class="bg-white w-20 h-20 absolute -top-6 -left-8 rotate-[30deg]">
    </div>
    <div class="bg-black w-20 h-20 absolute -top-14 -right-6 rotate-[30deg]">
    </div>
    <div class="bg-black w-20 h-20 absolute -bottom-14 -left-8 rotate-[30deg]">
    </div>
    <div class="bg-white w-20 h-20 absolute -bottom-6 -right-8 rotate-[30deg]">
    </div> -->
    <Content client:load teams={teams} schedule={schedule} news={news} />
  </div>
  <div class="relative h-40 max-sm:h-80"></div>
  <Footer client:idle />
</Layout>
