---
import NavLink from "../components/NavLink.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astronaut Esports">
  <header class="flex items-center justify-between p-8 fixed w-full">
    <a href="/" draggable={false}>
      <img
        src="/logo.png"
        alt="Astronaut Esports Logo"
        class="w-16 h-16 select-none hover:scale-110 transition-transform duration-300"
        draggable={false}
      />
    </a>
    <nav class="flex gap-8 font-stargaze select-none">
      <NavLink href="#teams">Teams</NavLink>
      <NavLink href="#news">News</NavLink>
      <NavLink href="#schedule">Schedule</NavLink>
    </nav>
  </header>
  <div class="flex items-center justify-center h-screen bg-black">
    <h1 class="font-xxix text-8xl text-white select-none">Astronaut Esports</h1>
  </div>
  <div class="h-screen"></div>
</Layout>
