---
import Background from "../components/Background";
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astronaut Esports">
  <Header />
  <div class="relative flex items-center justify-center h-screen bg-black">
    <Background client:load />
    <div class="z-10">
      <h1 class="font-xxix text-8xl text-white select-none drop-shadow-2xl">
        Astronaut Esports
      </h1>
    </div>
    <div class="z-10 absolute bottom-32">
      <Button>Jump in!</Button>
    </div>
  </div>
  <div class="h-screen"></div>
</Layout>
