---
const { href } = Astro.props;
---

<a
  href={href}
  draggable={false}
  class="text-white cursor-pointer select-none px-8 py-3 cut-corners from-blue to-purple bg-gradient-to-r"
>
  <slot />
</a>
