---
import NavLink from "./NavLink.astro";
---

<header
  style={{
    "-webkit-background-clip": "text",
  }}
  class="flex items-center justify-between p-8 max-sm:p-6 fixed bg-clip-text z-50 w-full bg-white"
>
  <a href="/" draggable={false}>
    <img
      src="/logo.png"
      alt="Astronaut Esports Logo"
      class="w-16 h-16 select-none hover:scale-110 transition-transform duration-300"
      draggable={false}
    />
  </a>
  <nav class="flex gap-6 font-stargaze select-none mix-blend-difference">
    <div class="max-[450px]:hidden">
      <NavLink href="#teams">Teams</NavLink>
    </div>
    <NavLink href="#news">News</NavLink>
    <NavLink href="#schedule">Schedule</NavLink>
  </nav>
</header>
