---
const { href } = Astro.props;
---

<a
  href={href}
  draggable={false}
  style={{
    "-webkit-background-clip": "text",
  }}
  class="text-xl text-white mix-blend-exclusion hover:text-transparent transition-colors duration-300 bg-clip-text bg-gradient-to-br from-blue to-purple"
>
  <slot />
</a>
