---
const { href } = Astro.props;
---

<a
  href={href}
  draggable={false}
  style={{
    "-webkit-background-clip": "text",
  }}
  class="text-xl text-white hover:text-transparent transition-colors duration-300 hover:bg-clip-text hover:bg-gradient-to-br hover:from-blue hover:to-purple"
>
  <slot />
</a>
