---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <link
      rel="preload"
      href="/fonts/Stargaze.woff"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/StargazeStencil.woff"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/XXIX.otf"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/RobotoCondensed.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      @font-face {
        font-family: "Stargaze";
        src: url(/fonts/Stargaze.woff) format("Web Open Font Format");
      }
      @font-face {
        font-family: "StargazeStencil";
        src: url(/fonts/StargazeStencil.woff) format("Web Open Font Format");
      }
      @font-face {
        font-family: "XXIX";
        src: url(/fonts/XXIX.otf) format("OpenType");
      }
      @font-face {
        font-family: "RobotoCondensed";
        src: url(/fonts/RobotoCondensed.ttf) format("TrueType");
      }
    </style>
  </head>
  <body class="font-roboto-condensed">
    <slot />
  </body>
</html>
