---
import fetchCache from "../utils/fetchCache";

type Props = {
  title: string;
};

const { title } = Astro.props;

export const { metadata } = fetchCache();

export const socials = {
  twitter: "https://twitter.com/nounsesports",
  discord: "https://discord.gg/nounsesports",
  twitch: "https://twitch.tv/nounsesports",
  youtube: "https://youtube.com/@nounsesports",
};

export const navigation = [
  {
    name: "Teams",
    url: "#teams",
  },
  {
    name: "News",
    url: "#news",
  },
  {
    name: "Schedule",
    url: "#schedule",
  },
];
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <link
      rel="preload"
      href="/fonts/Stargaze.woff"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/StargazeStencil.woff"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/XXIX.otf"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/RobotoCondensed.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style is:global>
      @font-face {
        font-family: "Stargaze";
        src: url(/fonts/Stargaze.woff) format("Web Open Font Format");
      }
      @font-face {
        font-family: "StargazeStencil";
        src: url(/fonts/StargazeStencil.woff) format("Web Open Font Format");
      }
      @font-face {
        font-family: "XXIX";
        src: url(/fonts/XXIX.otf) format("OpenType");
      }
      @font-face {
        font-family: "RobotoCondensed";
        src: url(/fonts/RobotoCondensed.ttf) format("TrueType");
      }

      .cut-corners {
        --all: 0px;
        -webkit-mask: linear-gradient(45deg, transparent 10px, #fff 0) bottom
            left,
          linear-gradient(-45deg, transparent 0 0, #fff 0) bottom right,
          linear-gradient(135deg, transparent 0 0, #fff 0) top left,
          linear-gradient(-135deg, transparent 0 10px, #fff 0) top right;
        -webkit-mask-size: 50.5% 50.5%;
        -webkit-mask-repeat: no-repeat;
      }

      .cut-corners-lg {
        --all: 0px;
        -webkit-mask: linear-gradient(45deg, transparent 16px, #fff 0) bottom
            left,
          linear-gradient(-45deg, transparent 0 0, #fff 0) bottom right,
          linear-gradient(135deg, transparent 0 0, #fff 0) top left,
          linear-gradient(-135deg, transparent 0 16px, #fff 0) top right;
        -webkit-mask-size: 50.5% 50.5%;
        -webkit-mask-repeat: no-repeat;
      }
    </style>
  </head>
  <body class="font-roboto-condensed overflow-x-hidden">
    <slot />
  </body>
</html>
